body,
button,
table {
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}

.table {
    margin: 20px auto;
    border: 26px solid #3A4965;
    background: #FAFAFA;
    text-align: center;
    border-collapse: collapse;
}

.choose-letters {
    font-size: 18px;
    color: #484848;
}

.choose-letters span {
    font-size: 30px;
}

.table-one td {
    border-left: 3px solid #ddd;
}

.table-one tr:first-child {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.table-two tr:first-child {
    height: 115px;
    border-bottom: 15px solid #3A4965;
}

.table-two tr {
    border-bottom: 3px solid #ddd;
}

.table-one tr:nth-child(2n+3) {
    background-color: #F2F2F2;
}

.table-one tr:nth-child(2n+4),
.button th {
    background-color: #E3E3E3;
}

.table-two tr>td:nth-child(2n+1) {
    background: #FAFAFA;
}

.table-two tr>td:nth-child(2n+2) {
    background: #E3E3E3;
}

.table-two-first-line th:nth-child(2n+2) {
    background: #E3E3E3;
}

.button {
    height: 121px;
}

.price {
    font-size: 60px;
    font-weight: 700;
    height: 89px;
}

.superscript {
    font-size: 24px;
    vertical-align: top;
    width: 120px;
    height: 50px;
    display: inline-block;
    text-align: left;
}

.superscript span {
    font-size: 18px;
    font-weight: normal;
}

.sup-1 {
    font-size: 18px;
    vertical-align: top;
    width: 120px;
    height: 50px;
    display: inline-block;
    text-align: left;
}

.sup-1 span {
    font-size: 14px;
    font-weight: normal;
}

.btn {
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    border: none;
}

.btn-table-1 {
    width: 195px;
    height: 52px;
    padding-top: 15px;
    /*border-bottom: 9px solid rgba(0, 0, 0, 0.5);*/
}

.btn-table-2 {
    height: 44px;
    width: 147px;
}

.col-1 {
    background: #484848;
}

.col-2 {
    background: #89C331;
}

.col-3 {
    background: #F04A56;
}

.col-4 {
    background: #20807C;
}


.table-two th {
    font-size: 20px;
}

.table-two tr {
    height: 167px;
}

.th-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.table-two-small-title {
    font-size: 14px;
}

.price-two>span {
    font-size: 36px;
    font-weight: 700;
}

.price-two {
    color: #fff;
    line-height: 1.6;
    width: 198px;
    vertical-align: top;
    padding-top: 15px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    position: relative;

}

.btn-table-2 {
    position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translate(-50%);
}